@inject ComputerBuilderMvcApp.Models.Cart CartService // Inject Cart to get item count

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <title>@ViewData["Title"] - ComputerBuilder</title>
    <link rel="stylesheet" href="/css/builder.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/component.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/header.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/details.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

</head>

<body>
    <div class="head">
        <div class="head-left-section">
            <a class="head-link" asp-area="" asp-controller="Home" asp-action="Index">
                <img class="head-logo" src="~/images/icons/logo.png">
                <img class="mobile-logo" src="~/images/icons/mobile-logo-white.png">
            </a>
        </div>
        <div class="head-middle-section">

            <a class="head-link orders-link" asp-area="" asp-controller="Components" asp-action="Index">Components</a>
            <a class="head-link orders-link" asp-area="" asp-controller="Builder" asp-action="Index">PC Builder</a>
        </div>
        <div class="head-right-section">

            <a class="head-link cart-link" asp-area="" asp-controller="Cart" asp-action="Index">
                <img class="cart-icon" src="~/images/icons/cart-icon.png">
                <div class="cart-quantity" id="cartItemCountBadge">0</div>
                <div class="cart-text">Cart</div>
            </a>
        </div>
    </div>
    <div class="main">
        @RenderBody()
    </div>
    <footer>
        <div class="foot">
            &copy; @DateTime.Now.Year - ComputerBuilder
            &nbsp;|&nbsp; <a asp-area="" asp-controller="Home" asp-action="Feedback">Feedback</a>
            &nbsp;|&nbsp; <a asp-area="" asp-controller="Home" asp-action="Contact">Contact Us</a>
            &nbsp;|&nbsp; <a href="#top">Back to Top</a>
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>