@{
    ViewData["Title"] = "Computers";
}

<h1>Available Computers</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Total Price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var computer in Model)
        {
            <tr>
                <td>@computer.ID</td>
                <td>@computer.Name</td>
                <td>@computer.TotalPrice.ToString("C")</td>
                <td>
                    <a asp-action="Detail" asp-route-id="@computer.ID" class="btn btn-primary">View Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>