@*
    This view displays the contact information for the website.
    It provides an email address and phone number for users to get in touch.
    It also includes a placeholder comment for potentially adding a contact form in the future.
*@
@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>

<p>If you have any questions, please feel free to contact us.</p>
<p>Email: contact@computerbuilder.com</p>
<p>Phone: 123-456-7890</p>

@* Add a contect for for Part 4 of project *@