@*
    This view is displayed after a user successfully submits the feedback form.
    It shows a thank you message to acknowledge the user's submission.
    It also provides a button for the user to continue shopping by navigating back to the home page.
*@
@{
    ViewData["Title"] = "Thank You for Your Feedback";
}

<h1>Thank you for your Feedback!</h1>
<p>Thank you for your Feedback. Your Feedback is important to us.</p>
<div class="builder-buttons">
    <a asp-controller="Home" asp-action="Index" class="btn btn-success">Continue Shopping</a>
</div>