@model List<ComputerBuilderMvcApp.Models.Component>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Computer Builder</h1>
    <p>Your one-stop shop for PC components and custom builds!</p>
</div>

<hr />

@if (Model != null && Model.Any())
{
    <h2>Featured Components</h2>
    <div class="row">
        @foreach (var component in Model)
        {
            <div class="col-md-4 mb-3">
                <div class="card h-100">
                    <div class="card-body">
                        <img class="card-img-top" src="@component.Image"  alt="@component.Name" style="max-width: 60px;">
                        <h5 class="card-name">@component.Name</h5>
                        <h5 class="card-title">@component.Spec</h5>
                        <p class="card-text">Price: $@(component.PriceCents /100)</p>

                    </div>
                </div>
            </div>
        }
    </div>
}
